#tweets
:javascript
  $('.refresh').show();
  rows = getParam("rows") || 10;
  cols = getParam("cols") || 15;
  delay = getParam("delay") || 60;
  var img_cnt = rows * cols;

  document.getElementById("delay_lbl").innerHTML= delay;
  document.getElementById("refresh_bar").max= 500;
  document.getElementById("refresh_bar").value = delay;

  function updateBacklog() {
    document.getElementById("buffer_size").innerHTML = "msg backlog: " + queue.length;
  }


  function refreshDelay(elem) {
    delay=elem.value;
    document.getElementById("delay_lbl").innerHTML= delay;
  }

