.tweets0.tweet
  %a#link0{target:"_", href:""}
    %img#img0.profile
  %a#link1{target:"_", href:""}
    %img#img1.profile
  %a#link2{target:"_", href:""}
    %img#img2.profile
  %a#link3{target:"_", href:""}
    %img#img3.profile
  %a#link4{target:"_", href:""}
    %img#img4.profile
  %a#link5{target:"_", href:""}
    %img#img5.profile
  %a#link6{target:"_", href:""}
    %img#img6.profile
  %a#link7{target:"_", href:""}
    %img#img7.profile
  %a#link8{target:"_", href:""}
    %img#img8.profile
  %a#link9{target:"_", href:""}
    %img#img9.profile
  %a#link10{target:"_", href:""}
    %img#img10.profile
  %a#link11{target:"_", href:""}
    %img#img11.profile
  %a#link12{target:"_", href:""}
    %img#img12.profile
  %a#link13{target:"_", href:""}
    %img#img13.profile
  %a#link14{target:"_", href:""}
    %img#img14.profile
.tweets1.tweet
  %a#link15{target:"_", href:""}
    %img#img15.profile
  %a#link16{target:"_", href:""}
    %img#img16.profile
  %a#link17{target:"_", href:""}
    %img#img17.profile
  %a#link18{target:"_", href:""}
    %img#img18.profile
  %a#link19{target:"_", href:""}
    %img#img19.profile
  %a#link20{target:"_", href:""}
    %img#img20.profile
  %a#link21{target:"_", href:""}
    %img#img21.profile
  %a#link22{target:"_", href:""}
    %img#img22.profile
  %a#link23{target:"_", href:""}
    %img#img23.profile
  %a#link24{target:"_", href:""}
    %img#img24.profile
  %a#link25{target:"_", href:""}
    %img#img25.profile
  %a#link26{target:"_", href:""}
    %img#img26.profile
  %a#link27{target:"_", href:""}
    %img#img27.profile
  %a#link28{target:"_", href:""}
    %img#img28.profile
.tweets2.tweet
  %a#link29{target:"_", href:""}
    %img#img29.profile
  %a#link30{target:"_", href:""}
    %img#img30.profile
  %a#link31{target:"_", href:""}
    %img#img31.profile
  %a#link32{target:"_", href:""}
    %img#img32.profile
  %a#link33{target:"_", href:""}
    %img#img33.profile
  %a#link34{target:"_", href:""}
    %img#img34.profile
  %a#link35{target:"_", href:""}
    %img#img35.profile
  %a#link36{target:"_", href:""}
    %img#img36.profile
  %a#link37{target:"_", href:""}
    %img#img37.profile
  %a#link38{target:"_", href:""}
    %img#img38.profile
  %a#link39{target:"_", href:""}
    %img#img39.profile
  %a#link40{target:"_", href:""}
    %img#img40.profile
  %a#link41{target:"_", href:""}
    %img#img41.profile
  %a#link42{target:"_", href:""}
    %img#img42.profile
.tweets3.tweet
  %a#link43{target:"_", href:""}
    %img#img43.profile
  %a#link44{target:"_", href:""}
    %img#img44.profile
  %a#link45{target:"_", href:""}
    %img#img45.profile
  %a#link46{target:"_", href:""}
    %img#img46.profile
  %a#link47{target:"_", href:""}
    %img#img47.profile
  %a#link48{target:"_", href:""}
    %img#img48.profile
  %a#link49{target:"_", href:""}
    %img#img49.profile
  %a#link50{target:"_", href:""}
    %img#img50.profile
  %a#link51{target:"_", href:""}
    %img#img51.profile
  %a#link52{target:"_", href:""}
    %img#img52.profile
  %a#link53{target:"_", href:""}
    %img#img53.profile
  %a#link54{target:"_", href:""}
    %img#img54.profile
  %a#link55{target:"_", href:""}
    %img#img55.profile
  %a#link56{target:"_", href:""}
    %img#img56.profile
.tweets4.tweet
  %a#link57{target:"_", href:""}
    %img#img57.profile
  %a#link58{target:"_", href:""}
    %img#img58.profile
  %a#link59{target:"_", href:""}
    %img#img59.profile
  %a#link60{target:"_", href:""}
    %img#img60.profile
  %a#link61{target:"_", href:""}
    %img#img61.profile
  %a#link62{target:"_", href:""}
    %img#img62.profile
  %a#link63{target:"_", href:""}
    %img#img63.profile
  %a#link64{target:"_", href:""}
    %img#img64.profile
  %a#link65{target:"_", href:""}
    %img#img65.profile
  %a#link66{target:"_", href:""}
    %img#img66.profile
  %a#link67{target:"_", href:""}
    %img#img67.profile
  %a#link68{target:"_", href:""}
    %img#img68.profile
  %a#link69{target:"_", href:""}
    %img#img69.profile
  %a#link70{target:"_", href:""}
    %img#img70.profile
.tweets5.tweet
  %a#link71{target:"_", href:""}
    %img#img71.profile
  %a#link72{target:"_", href:""}
    %img#img72.profile
  %a#link73{target:"_", href:""}
    %img#img73.profile
  %a#link74{target:"_", href:""}
    %img#img74.profile
  %a#link75{target:"_", href:""}
    %img#img75.profile
  %a#link76{target:"_", href:""}
    %img#img76.profile
  %a#link77{target:"_", href:""}
    %img#img77.profile
  %a#link78{target:"_", href:""}
    %img#img78.profile
  %a#link79{target:"_", href:""}
    %img#img79.profile
  %a#link80{target:"_", href:""}
    %img#img80.profile
  %a#link81{target:"_", href:""}
    %img#img81.profile
  %a#link82{target:"_", href:""}
    %img#img82.profile
  %a#link83{target:"_", href:""}
    %img#img83.profile
  %a#link84{target:"_", href:""}
    %img#img84.profile
.tweets6.tweet
  %a#link85{target:"_", href:""}
    %img#img85.profile
  %a#link86{target:"_", href:""}
    %img#img86.profile
  %a#link87{target:"_", href:""}
    %img#img87.profile
  %a#link88{target:"_", href:""}
    %img#img88.profile
  %a#link89{target:"_", href:""}
    %img#img89.profile
  %a#link90{target:"_", href:""}
    %img#img90.profile
  %a#link91{target:"_", href:""}
    %img#img91.profile
  %a#link92{target:"_", href:""}
    %img#img92.profile
  %a#link93{target:"_", href:""}
    %img#img93.profile
  %a#link94{target:"_", href:""}
    %img#img94.profile
  %a#link95{target:"_", href:""}
    %img#img95.profile
  %a#link96{target:"_", href:""}
    %img#img96.profile
  %a#link97{target:"_", href:""}
    %img#img97.profile
  %a#link98{target:"_", href:""}
    %img#img98.profile
.tweets7.tweet
  %a#link99{target:"_", href:""}
    %img#img99.profile
  %a#link100{target:"_", href:""}
    %img#img100.profile
  %a#link101{target:"_", href:""}
    %img#img101.profile
  %a#link102{target:"_", href:""}
    %img#img102.profile
  %a#link103{target:"_", href:""}
    %img#img103.profile
  %a#link104{target:"_", href:""}
    %img#img104.profile
  %a#link105{target:"_", href:""}
    %img#img105.profile
  %a#link106{target:"_", href:""}
    %img#img106.profile
  %a#link107{target:"_", href:""}
    %img#img107.profile
  %a#link108{target:"_", href:""}
    %img#img108.profile
  %a#link109{target:"_", href:""}
    %img#img109.profile
  %a#link110{target:"_", href:""}
    %img#img110.profile
  %a#link111{target:"_", href:""}
    %img#img111.profile
  %a#link112{target:"_", href:""}
    %img#img112.profile
.tweets8.tweet
  %a#link113{target:"_", href:""}
    %img#img113.profile
  %a#link114{target:"_", href:""}
    %img#img114.profile
  %a#link115{target:"_", href:""}
    %img#img115.profile
  %a#link116{target:"_", href:""}
    %img#img116.profile
  %a#link117{target:"_", href:""}
    %img#img117.profile
  %a#link118{target:"_", href:""}
    %img#img118.profile
  %a#link119{target:"_", href:""}
    %img#img119.profile
  %a#link120{target:"_", href:""}
    %img#img120.profile
  %a#link121{target:"_", href:""}
    %img#img121.profile
  %a#link122{target:"_", href:""}
    %img#img122.profile
  %a#link123{target:"_", href:""}
    %img#img123.profile
  %a#link124{target:"_", href:""}
    %img#img124.profile
  %a#link125{target:"_", href:""}
    %img#img125.profile
  %a#link126{target:"_", href:""}
    %img#img126.profile
.tweets9.tweet
  %a#link127{target:"_", href:""}
    %img#img127.profile
  %a#link128{target:"_", href:""}
    %img#img128.profile
  %a#link129{target:"_", href:""}
    %img#img129.profile
  %a#link130{target:"_", href:""}
    %img#img130.profile
  %a#link131{target:"_", href:""}
    %img#img131.profile
  %a#link132{target:"_", href:""}
    %img#img132.profile
  %a#link133{target:"_", href:""}
    %img#img133.profile
  %a#link134{target:"_", href:""}
    %img#img134.profile
  %a#link135{target:"_", href:""}
    %img#img135.profile
  %a#link136{target:"_", href:""}
    %img#img136.profile
  %a#link137{target:"_", href:""}
    %img#img137.profile
  %a#link138{target:"_", href:""}
    %img#img138.profile
  %a#link139{target:"_", href:""}
    %img#img139.profile
  %a#link140{target:"_", href:""}
    %img#img140.profile
:javascript
  $('.refresh').show();
  var msgs = 0
  var queue = [];
  var delay = getParam("delay") || 60;
  var img_cnt = 141;
  document.getElementById("delay_lbl").innerHTML= delay;

  function updateBacklog() {
    document.getElementById("buffer_size").innerHTML = "msg backlog: " + queue.length;
  }

  function update() {
    msgs += 1
    var msg = queue.shift();
    if(msg != null) {
      document.getElementById("img" + (msgs % img_cnt)).src= msg.message.user.profile_image_uri; 
      document.getElementById("link" + (msgs % img_cnt)).href= "http://twitter.com/" + msg.message.user.screen_name; 
      document.getElementById("link" + (msgs % img_cnt)).title= msg.message.text + " (" + msg.message.user.screen_name + ")"; 
      console.log(" pop:" + queue.length);
    }else {
      console.log("none: " + queue.length);
    }
    window.setTimeout(function() {update()}, delay);
  }

  function refreshDelay(elem) {
    delay=elem.value;
    document.getElementById("delay_lbl").innerHTML= delay;
  }

  var stream = new EventSource('/tweet_stream');
  stream.addEventListener('message', function(event) {
    //if(queue.length > 10) queue.pop();
    queue.push(JSON.parse(event.data));
  }, false);
  

  stream.addEventListener('open', function(e) {
      console.log(e);
      // Connection was opened.
  }, false);

  stream.addEventListener('error', function(e) {
      console.log(e);
      if (e.readyState == EventSource.CLOSED) {
            // Connection was closed.
              }
  }, false);
  window.setTimeout(function() {update()}, delay);
  window.setInterval(function() {updateBacklog()}, 1000);
