#tweets0.tweet
#tweets1.tweet
#tweets2.tweet
#tweets3.tweet
#tweets4.tweet
#tweets5.tweet
#tweets6.tweet
#tweets7.tweet
#tweets8.tweet
:javascript
  $('.refresh').show();
  var msgs = 0
  var queue = [];
  var delay = getParam("delay") || 300;
  document.getElementById("delay_lbl").innerHTML= delay;

  function update() {
    msgs += 1
    var msg = queue.shift();
    if(msg != null) {
      if(delay >= 30) {
        document.getElementById("tweets" + (msgs % 9)).innerHTML = "<table><tr><td><img src='" + msg.message.user.profile_image_uri + "' /></td><td align='center'><table><tr><td><a target='_' href='http://twitter.com/" + msg.message.user.screen_name + "'>" + msg.message.user.screen_name + "</a></td></tr><tr><td>" + msg.message.text + "</td></tr></table></td></tr></table>";
      }else{
        //no profile image
        document.getElementById("tweets" + (msgs % 9)).innerHTML = "<table><tr><td><a target='_' href='http://twitter.com/" + msg.message.user.screen_name + "'>" + msg.message.user.screen_name + "</a></td></tr><tr><td>" + msg.message.text + "</td></tr></table>";
      }
    }else {
      console.log("none: " + queue.length);
    }
    window.setTimeout(function() {update()}, delay);
  }

  function refreshDelay(elem) {
    delay=elem.value;
    document.getElementById("delay_lbl").innerHTML= delay;
  }

  var stream = new EventSource('/tweet_stream');
  stream.addEventListener('message', function(event) {
    //if(queue.length > 10) queue.pop();
    queue.push(JSON.parse(event.data));
  }, false);
  

  stream.addEventListener('open', function(e) {
      console.log(e);
      // Connection was opened.
  }, false);

  stream.addEventListener('error', function(e) {
      console.log(e);
      if (e.readyState == EventSource.CLOSED) {
            // Connection was closed.
              }
  }, false);
  window.setTimeout(function() {update()}, delay);
  window.setInterval(function() { 
    document.getElementById("buffer_size").innerHTML = "msg backlog: " + queue.length;  
  }, 1000);

