#tweets
:javascript
  $('.refresh').show();
  $('#tweets').append(function() {
    var ret = "";
    for(var i = 0; i<rows; i++) {
      ret += "<div class='tweet' id='tweets" + i + "'></div>"
    }
    return ret;
  });

  function update() {
    msgs += 1
    var msg = queue.shift();
    if(msg != null) {
      if(delay >= 30) {
        document.getElementById("tweets" + (msgs % rows)).innerHTML = "<table><tr><td><img src='" + msg.message.user.profile_image_uri + "' /></td><td align='center'><table><tr><td><a target='_' href='http://twitter.com/" + msg.message.user.screen_name + "'>" + msg.message.user.screen_name + "</a></td></tr><tr><td>" + msg.message.text + "</td></tr></table></td></tr></table>";
      }else{
        //no profile image
        document.getElementById("tweets" + (msgs % rows)).innerHTML = "<table><tr><td><a target='_' href='http://twitter.com/" + msg.message.user.screen_name + "'>" + msg.message.user.screen_name + "</a></td></tr><tr><td>" + msg.message.text + "</td></tr></table>";
      }
    }else {
      console.log("none: " + queue.length);
    }
    if(enabled) {
      window.setTimeout(function() {update()}, delay);
    }
  }

