body {
  background-color:#E9D1A1;
  height:1000px;
}
.btn {
  margin:5px;
}
#tweets {
}
.tweet {
  background-color:white;
  min-width:73px;
  max-height:73px;
  min-height:73px;
}
.slider {
 display: inline;
}
rect {
  fill: steelblue;
}
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.analytic {
  font: 2em sans-serif;
}
